.pagination {
  display: flex;
  justify-content: center;
}

.pagination__item {
  border: 1px solid lightgray;
  padding: 6px;
  margin: 5px;
  border-radius: 3px;
  width: 15px;
  height: 15px;
  text-align: center;
}

.pagination__item_spill {
  border: 1px solid transparent;
  padding: 6px;
  margin: 5px;
  width: 15px;
  height: 15px;
  text-align: center;
}

.pagination__nav:hover,
.pagination__item:hover {
  background-color: whitesmoke;
  cursor: pointer;
}

.pagination__item_active {
  border: 1px solid lightgray;
  padding: 8px;
  margin: 5px;
  background-color: whitesmoke;
  cursor: pointer;
  border-radius: 3px;
  width: 15px;
  text-align: center;
}

.pagination__nav {
  border: 1px solid lightgray;
  padding: 5px;
  margin: 5px;
}

.pagination__nav_left {
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 3px 3px 5px 5px;
  margin: 5px;
  height: 19px;
  cursor: pointer;
}
.pagination__nav_right {
  border: 1px solid lightgray;
  padding: 3px 5px 5px 3px;
  margin: 5px;
  border-radius: 3px;
  cursor: pointer;
  height: 19px;
}

.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 5px;
  margin-right: 5px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
